<div class="row" adminDashboard>
    <div class="col-lg-3 animated fadeInUp">
        <div class="ibox">
            <div class="ibox-content">
                <h5>Users</h5>
                <h1 class="no-margins" usersCounter></h1>
            </div>
        </div>
    </div>
    <div class="col-lg-3 animated fadeInUp">
        <div class="ibox">
            <div class="ibox-content">
                <h5>Roles</h5>
                <h1 class="no-margins" rolesCounter></h1>
            </div>
        </div>
    </div>
</div>