<div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
        <li class="nav-header">
            <div class="dropdown profile-element">
                <span>
                   <div alt="image" class="img-circle img-crcl" >A</div>
                </span>
                <a data-toggle="dropdown" class="dropdown-toggle" href="#" >
                    <span class="clear" style="text-transform:capitalize;margin-left: 8px;"> 
                      <span class="block m-t-xs">
                        <strong class="font-bold lognomyUsername"></strong>
                      </span>
                      <span class="text-muted text-xs block lognomyUserRole"></span>
                    </span> 
                </a>
                <ul class="dropdown-menu animated fadeInRight m-t-xs"></ul>
            </div>
        </li>
    </ul>
</div>
